body {
  background-color: #f3f3e0;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.notice {
  width: auto;
  margin: 30px auto;
  padding: 10px auto;
  color: #133e87;
  font-size: 30px;
  font-weight: 700;
}

.game-info,
.score {
  margin: 12px auto;
  padding: 3px auto;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  margin: 15px auto;
  padding: 3px auto;
  color: #608bc1;
  font-size: 23px;
  font-weight: 400;
}

.human,
.computer {
  display: flex;
  flex-flow: column wrap;
}

img {
  width: 280px;
  height: 250px;
  margin: 20px auto;
  padding: 5px auto;
}


.choice {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px auto;
  padding: 5px auto;
}

#scissor,
#rock,
#paper {
  background-color: #133e87;
  padding: 5px 10px;
  color: #cbdceb;
  font-size: 25px;
  font-weight: 530;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.reset {
  text-align: center;
  margin: 30px auto;
}

#reset-button {
  margin: 35px auto;
  background-color: #133e87;
  color: #cbdceb;
  font-size: 25px;
  font-weight: 530;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}