body{
    font-family: 'arial';
}

nav{
    font-size: 30px;  
    display: flex;
    justify-content: space-around; 
}

img{
    width: 300px;
    float: left;
}
aside{
    margin-left: 50px;
    background-color: rgb(231, 228, 228);
    border-radius: 20px;
    padding: 3%;
    
}
.container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 100%;
}
.hr-dashed {
    border : 0px;
    border-top: 2px dashed rgb(124, 124, 124);
}
